
/* html {
  scroll-behavior: smooth;
} */
/* GENERAL */
body {
  font-family: 'lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
}

.logo h2 {
  font-size: 28px;
}

a:link, a:visited  {
  color:white;
}

li {
  list-style-type: none;
}

.button_general button {
  background-color: #1abc9c;
  border-radius: 7px;
  font-size: 20px;
  padding: 20px 25px;
}
/* /GENERAL */

/* background */
.bg_primary {
  background-color: #2c3e50;
}

.bg_secondary {
  background-color: #1abc9c;
}
/* /background */
/* color */
.color_white {
  color:white;
}
.color_dark_grey {
  color: #2c3e50;
}

.bg_dark {
 background-color: #1A252F;
}
/* color text */

/* HEADER */
/* nav */
.container_nav {
  padding-top: 17px;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index: 10;
}

.link_nav li {
  padding: 25px 20px;
}

.link_nav a {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.link_nav a:hover {
  color: rgb(26, 188, 156);
}

/* /nav */
/* hero */
.container_hero {
  padding: 100px;
  margin-top: 80px;
}

.container_hero p {
  font-size: 25px;
}

.img_hero {
width:21%;
}

.container_hero h1 {
  padding-top: 20px;
  font-size: 70px;
}

.container_hero .divider_star {
padding: 15px 0;
}

.star {
  font-size: 35px;
  vertical-align: middle;
  display: inline-block;
  padding:5px 15px;
}

.row_star  {
height: 4px;
display: inline-block;
background-color: currentColor;
width: 10%;
border-radius: 5px;
vertical-align: middle;
}

.divider_star .row_star {
 background-color: currentColor;
}
/* /hero */
/* /HEADER */

/* MAIN */
section {
padding: 40px 0;
}

#portfolio {
  padding: 70px 0;
}

.box_portfolio {
  position: relative;
  margin: 25px 12px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

.img_portfolio {
  border-radius: 10px;
  width: 100%;
}

.overlay::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay:hover::after {
  background-color: rgba(26, 188, 156, 0.9);
  background-image: url("../img/icon/add.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
}
/* /portfolio */

/* sezione about */
.container_about {
  padding: 90px;
}
.container_about p {
  font-size: 20px;
  width: 75%;
  margin: 30px auto;
}

.button_about {
  margin-top: 15px;
}

.button_about button {
  border: 2px solid white;
}

.button_about button:hover {
  background-color: white;
  color: black;
}

.button_about i {
  padding-right: 8px;
}
/* /sezione about */
/* sezione contact */
.contact_form {
  padding: 2%;
}

.contact_form input, textarea {
  font-size: 25px;
  width: 70%;
  border: none;
  border-bottom: 1px solid rgb(233, 236, 239);
  padding:30px 0;
}

.button_contact button {
  border: none;
}

.button_contact button:hover {
 background-color: #159a80;
 border-color: #148f77;
}

/* /sezione contact */
/* /MAIN */
/* FOOTER */
footer {
  margin-top: 80px;
}

.container_footer {
  padding: 90px;
}

.container_footer p {
  font-size: 20px;
  line-height: 30px;
  width:82%;
  margin: 0 auto;
}

.container_footer h3 {
  padding: 20px 0;
}

.icon_footer a {
  text-align: center;
  height: 50px;
  width:50px;
  font-size: 20px;
  display: inline-block;
  padding: 8px 0;
  border: 2px solid white;
  border-radius: 50%;
  margin-right:10px;
}

.icon_footer a:hover {
  background-color: white;
  color: #2c3e50;
}

.link_footer a {
  color:  #1abc9c;
}

.link_footer a:hover {
  color: #117964;
}

.text_row_dark p {
  margin: 25px 0;
}
/* /FOOTER */

/* RESPONSIVE */
/* DESKTOP */
@media screen and (min-width:992px) and (max-width:1200px) {
  .logo > h2 {
    font-size: 25px;
  }
/* nav */
  .link_nav a {
    font-size: 15px;
    padding: 35px 7px;
  }
  /* /nav */
  /* hero */
  .container_hero h1 {
    font-size: 45px;
  }
  /* /hero */
}
/* TABLLET */
@media screen and (min-width:768px) and (max-width:991px) {
  /* nav */
  .logo > h2 {
    font-size: 20px;
  }

  .link_nav a {
    font-size: 12px;
  }

  .link_nav > li {
    padding: 25px 10px;
  }
  /* /nav */
  /* hero */
  .container_hero h1 {
    font-size: 40px;
  }

  .star {
    font-size: 28px;
  }
  /* /hero */
  /* main */
  /* portfolio */
  h2 {
    font-size: 40px;
  }

  .star {
    font-size: 25px;
  }
  /* /portfolio */
  /* sezione contact */
  .contact_form input, textarea {
    font-size: 22px;
    padding: 18px 0;
  }

  .button_contact button {
    padding: 15px 24px;
    font-size: 16px;
  }
  /* /sezione contact */
  /* /main */
  /* footer */
  .container_footer {
    padding: 50px;
  }

  .container_footer h3 {
    font-size: 22px;
    padding: 15px 0;
  }

  .container_footer p {
    font-size: 17px;
    line-height: 20px;
    width: 45%;
    margin:0 auto;
  }

  .icon_footer {
    padding-bottom: 25px;
  }

  .icon_footer a {
    height: 45px;
    width:45px;
    font-size: 18px;
  }
}
/* /footer */
/* SMARTPHONE */
@media screen and (max-width:767px) {

  .logo > h2 {
    font-size: 15px;
  }
  /* nav */
  .link_nav a {
    display: none;
  }
  /* /nav */
  /* hero */
  .container_hero h1 {
    font-size: 30px;
  }

  .container_hero p {
    font-size: 18px;
  }

  .img_hero {
    width: 30%;
  }

  .star {
    font-size: 25px;
  }
  /* /hero */
  /* main */
  /* portfolio */
  h2 {
    font-size: 30px;
  }

  .star {
    font-size: 25px;
  }

  .box_portfolio {
    width: 50%;
    margin: 20px auto;
  }
  /* portfolio */
  /* sezione about */
  .button_about button {
    font-size: 16px;
  }
  /* /sezione about */
  /* sezione contact */
  .contact_form input, textarea {
    font-size: 18px;
    padding: 15px 0;
  }

  .button_contact button {
    padding: 10px 20px;
    font-size: 14px;
  }
  /* /sezione contact */
  /* /main */
  /* footer */
  footer {
    margin-top: 60px;
  }
  .container_footer {
    padding: 60px;
  }

  .container_footer h3 {
    font-size: 20px;
    padding: 15px 0;
  }

  .container_footer p {
    font-size: 15px;
    line-height: 20px;
    width: 40%;
    margin:0 auto;
  }

  .icon_footer {
    padding-bottom: 25px;
  }

  .icon_footer a {
    height: 40px;
    width:40px;
    font-size: 15px;
  }
}
/* /footer */
/* /REPSONSIVE */
